<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Norfolk Music</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if session['username'] %}

            <li class="nav-item">
                <a class="nav-link" href="/logout/">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new_post">New Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='#'><strong>User: </strong> {{session['username'] | safe}}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login/">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create_account/">Create Account</a>
            </li>
            {% endif %}
            <li class="nav-item" style="margin-left:50px">
                <form action="/search/" method="GET">
                    <div class="form-group">
                        <input type="text" name="search_term" id="search_term"/>
                        <input class="btn btn-primary" type="submit" value="Search"/>
                    </div>
                </form>
            </li>

        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}
</body>
</html>