{% extends 'base.html' %}
{% block content %}
<!-- Form to create an account -->
<title>Create Account | Norfolk Music</title>


<div class="row" style="margin:30px">
    <div class="col-sm-6">
        <h2>Create Account</h2>
        <form method="POST" action="/create_account/">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="email">
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" id="username" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <label for="password">Verify Password:</label>
                <input type="password" class="form-control" id="passwordcheck" placeholder="Retype Password"
                       name="passwordcheck">
            </div>
            <div class="g-recaptcha" data-sitekey="6Lc7ynsUAAAAAKI9yGmwcE3R_E8G40nHcorbCG_M"></div>
            <button type="submit" name="create_account" class="btn btn-primary">Create Account</button>
        </form>
    </div>

    <div class="column">
    <p>Username can only contain alphanumeric characters as well "_" and "-"!</p>
    <p>Password must contain:
    <ul>
        <li>at least 8 characters.</li>
        <li>at least one lowercase letter.</li>
        <li>at least one uppercase letter.</li>
        <li>at least one number.</li>
        <li>at least one special character.</li>
    </ul>
    </p>
</div>

<!-- Div to display any error messages created when creating an account -->
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}
</div>

{% endblock %}
