{% extends 'base.html' %}
{% block content %}
<title>Dashboard | Norfolk Music</title>


<ul class="content" style="margin-top:30px">
    <!-- Div to display any messages created when editing or deleting a post -->
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}
    </div>

    <!-- Display that users posts in a list -->
    {% if verified == 0 %}
    <form method="POST" action="/resend_verify/">
        <input type="submit" value="Resend verification email">
    </form>

    {% endif %}
    <div class="container" style="margin-top:30px">
        {% if data %}
        <h3>Your posts: </h3>
        {% for post in data[::-1] %}
        <div class="row">
            <div class="col-sm-8 jumbotron container-fluid">
                <h3>{{post.title | safe}}</h3>
                <h5>{{post.content | safe}}</h5>
                <p>
                    {{post.posted_by | safe}}, {{post.posted_on | safe}}
                </p>
                <!-- Forms to enable changing and deleting posts -->
                <form method="POST" action="/delete_post/">
                    <input type="hidden" name="postid" value="{{post.postid}}">
                    <input type="hidden" name="postedby" value="{{post.posted_by}}">
                    <p><input type="submit" class="btn btn-primary" value="Delete post"></p>
                </form>
                <form method="POST" action="/edit_post_page/">
                    <input type="hidden" name="postid" value="{{post.postid}}">
                    <input type="hidden" name="postedby" value="{{post.posted_by}}">
                    <input type="hidden" name="title" value="{{post.title}}">
                    <input type="hidden" name="content" value="{{post.content}}">
                    <input type="hidden" name="posted_on" value="{{post.posted_on}}">
                    <p><input type="submit" class="btn btn-primary" value="Edit post"></p>
                </form>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row" style="margin:30px">
        <div class="col-sm-6">
            <h2>Change Password</h2>
            <form method="POST" action="/change_password/">
                <div class="form-group">
                    <label for="oldpassword">Old Password:</label>
                    <input type="password" class="form-control" id="oldpassword" placeholder="Old Password"
                           name="oldpassword">
                </div>
                <div class="form-group">
                    <label for="newpassword">New Password:</label>
                    <input type="password" class="form-control" id="newpassword" placeholder="New password"
                           name="newpassword">
                </div>
                <div class="form-group">
                    <label for="verifypassword">Verify New Password:</label>
                    <input type="password" class="form-control" id="verifypassword" placeholder="New password"
                           name="verifypassword">
                </div>
                <button type="submit" name="change_password" class="btn btn-primary">Change</button>
            </form>
        </div>
        <div class="col-sm-6">
            <h2>Delete Account</h2>
            <form method="POST" action="/delete_account/">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" id="username" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
                <div style="margin-bottom:5px" class="g-recaptcha"
                     data-sitekey="6Lc7ynsUAAAAAKI9yGmwcE3R_E8G40nHcorbCG_M"></div>
                <button type="submit" name="delete_account" class="btn btn-primary">Delete Account</button>
            </form>
        </div>
    </div>
</ul>

{% endblock %}