{% extends 'base.html' %}
{% block content %}
<title>Edit Post | Norfolk Music</title>


<!--&lt;!&ndash; Form to fill out for editing a post &ndash;&gt;-->
<!--<form method="POST" action="/edit_post/">-->
<!--<input type="hidden" name="postid" value="{{data.postid}}">-->
<!--<input type="hidden" name="posted_on" value="{{data.posted_on}}">-->
<!--<p><label for="title">Title:</label><input name="title" id="title" onclick="this.select()" value="{{cleanTitle}}">-->
<!--</p>-->
<!--<p><label for="content">Content:</label><input name="content" id="content" onclick="this.select()"-->
<!--value="{{cleanContent}}"></p>-->
<!--<p><input type="submit" name="post" value="Save changes"/></p>-->
<!--</form>-->


<div class="row" style="margin:30px">
    <div class="col-sm-6">
        <h1>Edit Post</h1>
        <form method="POST" action="/edit_post/">
            <input type="hidden" name="postid" value="{{data.postid}}">
            <input type="hidden" name="posted_on" value="{{data.posted_on}}">
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-control" id="title" onclick="this.select()" name="title" value="{{cleanTitle}}">
            </div>
            <div class="form-group">
                <label for="content">Content:</label>
                <input class="form-control" id="content" onclick="this.select()" name="content"
                       value="{{cleanContent}}">
            </div>
            <button type="submit" name="post" class="btn btn-primary">Save changes</button>
        </form>
    </div>
</div>


{% endblock %}