{% extends 'base.html' %}
{% block content %}
<title>Reset Password | Norfolk Music</title>
<!-- From used to reset the password -->
<div class="row" style="margin:30px">
    <div class="col-sm-6">
        <h1>Forgot Password</h1>
        <form method="POST" action="/reset_password">
            <input type="hidden" name="linkID" value="{{request.args.get('id')}}">
            <input type="hidden" name="username" value="{{request.args.get('username')}}">
            <div class="form-group">
                <label for="newpassword">New Password:</label>
                <input type="password" class="form-control" id="newpassword" placeholder="New password"
                       name="newpassword">
            </div>
            <div class="form-group">
                <label for="newpasswordcheck">Verify New Password:</label>
                <input type="password" class="form-control" id="newpasswordcheck" placeholder="Verify new password"
                       name="newpasswordcheck">
            </div>
            <button type="submit" name="reset_password" class="btn btn-primary">Reset password</button>
        </form>
    </div>
    <div class="column">
        <p>Password must contain:
        <ul>
            <li>at least 8 characters.</li>
            <li>at least one lowercase letter.</li>
            <li>at least one uppercase letter.</li>
            <li>at least one number.</li>
            <li>at least one special character.</li>
        </ul>
        </p>
    </div>
</div>

<!-- Div to display any error messages created when resetting password -->
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}
</div>

{% endblock %}