{% extends 'base.html' %}
{% block content %}
<title>Home | Norfolk Music</title>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Welcome to the Norfolk bands forum page</h1>
</div>

<div class="container" style="margin-top:30px">
    {% for post in data[::-1] %}
    <div class="row">
        <div class="col-sm-8 jumbotron container-fluid">
            <h3>{{post.title | safe}}</h3>
            <h5>{{post.content | safe}}</h5>
            <p>
                {{post.posted_by | safe}}, {{post.posted_on | safe}}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}