{% extends 'base.html' %}
{% block content %}
<title>Login | Norfolk Music</title>
<!-- Login Form -->
<div class="row" style="margin:30px">
    <div class="col-sm-6">
        <h2>Login</h2>
        <form method="POST" action="/login/">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" id="username" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Password"
                       name="password">
            </div>
            <div style="margin-bottom:5px" class="g-recaptcha"
                 data-sitekey="6Lc7ynsUAAAAAKI9yGmwcE3R_E8G40nHcorbCG_M"></div>
            <button type="submit" name="login" class="btn btn-primary">Login</button>
        </form>
        <h3>Forgot Password</h3>
        <form action="/forgot_password/" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" id="email" placeholder="Email for reset password" name="email">
            </div>
            <button type="submit" name="reset" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>

<!-- Div to display any error messages created when logging in -->
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endblock %}
