{% extends 'base.html' %}
{% block content %}
<title>Create Post | Norfolk Music</title>
<div class="row" style="margin:30px">
    <div class="col-sm-6">
        <h2>Create New Post</h2>
        <form method="POST" action="/create_post/">
            <div class="form-group">
                <label for="title">Title:</label>
                <input class="form-control" id="title" placeholder="Post title" name="title">
            </div>
            <div class="form-group">
                <label for="content">Content:</label>
                <input class="form-control" id="content" placeholder="Post content" name="content">
            </div>
            <button type="submit" name="create_post" class="btn btn-primary">Create post</button>
        </form>
    </div>
</div>

{% endblock %}