{% extends 'base.html' %}
{% block content %}
<title>Search Results | Norfolk Music</title>


<div class="container" style="margin-top:30px">
<h3>Posts matching: {{search_term | safe}}</h3>
    {% for post in data[::-1] %}
    <div class="row">
        <div class="col-sm-8 jumbotron container-fluid">
            <h3>{{post.title | safe}}</h3>
            <h5>{{post.content | safe}}</h5>
            <p>
                {{post.posted_by | safe}}, {{post.posted_on | safe}}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}