{% extends 'base.html' %}
{% block login %}{% endblock %}
{% block content %}
<title>Verify Email | Norfolk Music</title>

<form action="/login">
    <button type="submit" name="login" class="btn btn-primary">Login</button>
</form>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}
</div>

{% endblock %}
